
.navbar {
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
}

.btn-menu {
    font-size: 1.2rem !important;
    background: #15B6D6;
    color: whitesmoke;
    transition: background-color 0.2s;
}

.btn-menu:hover {
    background: #17D6EB;
}

#icone-busca {
    width: 1.4rem;
    height: 1.4rem;
}

h1 > a:hover {
    text-decoration: none;
}

#sidebar-wrapper a {
    display: block;
    padding: .5rem .5rem .5rem 1.30rem;
}

    #sidebar-wrapper a:hover {
        text-decoration: none;
        background: #15C6D6;
        cursor: pointer;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }

.titulo-menu {
    margin-top: 1rem;
    width: 20rem;
    font-weight: 700;
    font-size: 30px;
}

.tutilo-menu {
    text-decoration: none;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 3rem;
    line-height: inherit;
    white-space: nowrap;
    color: whitesmoke;
    font-weight: 700;
}

.logo-menu img {
    margin-bottom: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.logo-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

    .logo-menu a:hover {
        text-decoration: none;
    }

.titulo {
    font-weight: 700;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    padding-top: 1rem;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -20rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    font-size: 1.5rem;
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
}

    #sidebar-wrapper .sidebar-heading {
        padding: 1.30rem 1.25rem;
        font-size: 2rem;
    }

    #sidebar-wrapper .list-group {
        margin-top: 1rem;
        width: 20rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -20rem;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
    }
}
