
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cozinha de Vó</title>

    <environment exclude="Development">
        <link href="~/Content/css/side-bar.css" rel="stylesheet">
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/css/main.css" rel="stylesheet">
        <link href="~/Content/css/carrossel.css" rel="stylesheet">
        <link href="~/Content/css/receita-detalhe.css" rel="stylesheet">
    </environment>
</head>
<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>

        <div class="d-flex toggled" id="wrapper">

            <!-- Sidebar -->
            <div class="border-right" id="sidebar-wrapper">
                <div class="sidebar-heading titulo-menu">Tipos de Receitas</div>
                <div class="list-group list-group-flush">
                    <a href="#" class="text-white">Salgadas</a>
                    <a href="#" class="text-white">Doces</a>
                    <a href="#" class="text-white">Saladas</a>
                    <a href="#" class="text-white">Vegetariana</a>
                    <a href="#" class="text-white">Sobremesas</a>
                    <a href="#" class="text-white">Todas as Receitas</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <navbar class="navbar navbar-expand-lg border-bottom justify-content-around">
                    <button class="btn px-5 btn-menu" id="menu-toggle">Menu</button>

                    <div class="input-group col-md-4">
                        <input class="form-control py-2 border-right-0 border" type="search" placeholder="Digíte o nome de uma receita..." id="nome-receita">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary border-left-0 border" type="button" id="buscar-receitas">
                                <img id="icone-busca" src="~/icones/Lupa.png" alt="Buscar" />
                            </button>
                        </span>
                    </div>

                    <div class="logo-menu">
                        <a href="@Url.Action("Index", "Home")" class="titulo">
                            <img src="~/icones/vovo.png" alt="Logo" />
                            <h1 class="tutilo-menu">
                                    Cozinha de Vó
                            </h1>
                        </a>
                    </div>
                </navbar>

                <div class="container-fluid corpo">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <p>&copy; 2020 - Cosinha de Vó</p>
                </footer>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>


    <environment include="Development">
        <script src="~/Content/js/jquery-3.5.1.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
